html, body
{
	height: 100%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color:#999999;
	margin:0;
	background-color:#F0F0F0;
}
h1
{
	color:#BB4352
}
.masthead {
	background-color: #1E1E1E;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #999999;
}
.auto-style3 {
	background-color: #1E1E1E;
	color: #999999;
	text-align: left;
}
.menu-strip {
	background-color: #333333;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #F0F0F0;
	border-top: thin #666666 solid;
	border-bottom: thin #666666 solid;
}
.menu-selection {
	color: #BB4352;
	padding-right: 35px;
}
.menu-item {
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 35px;
}
.auto-style5 {
	background-image: url('resources/grass-back.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	text-align: center;
}
.auto-style6 {
	color: #FFFFFF;
}
.auto-style8 {
	border-width: 0;
	text-align: right;
	font-size: medium;
	background-color: #BB4352;
	color: #FFFFFF;
}
.auto-style9 {
	font-size: xx-large;
}
.splash-link {
	text-decoration: none;
	color: #FFFFFF;
	
}
.splash-link:hover {
	text-decoration: none;
	color: #FFFFFF;
	border-bottom:1px #FFFFFF solid;
}
